.li {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px var(--grey-color);
    padding: 1em 0 1em 0;
    width: 100%;
    justify-content: space-between;
    color: var(--main-color);
}

.leftBox {
    display: flex;
}

.titleBox {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bookTitle,
.reviewDate {
    font-size: smaller;
}

.emojiBox {
    display: flex;
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    border: 1px solid var(--main-color);
    border-radius: 1em;
    margin-right: 1em;
    text-align: center;
    justify-content: center;
}

.emoji {
    font-size: x-large;
    padding-top: 0.2em;
    color: var(--white-color);
}

.reviewDate {
    right: 0;
}
