@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root {
    --backGround-color: #fffdf2;
    --main-color: #547c61;
    --white-color: #fff;
    --grey-color: #d6d6d6;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 100vw;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: var(--backGround-color);
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}
